#results-container {
  // """responsive design"""
  margin: auto;
  width: 100%;
  max-width: 768px;

  & > mat-card {
    margin: 16px 16px 0 16px;
  }

  qr-code {
    display: inline-block;
    vertical-align: middle;
    padding-right: 16px;
    border-right: 2px solid #AAA;
  }

  qr-code + a {
    font-size: 18pt;
    margin-left: 16px;
    color: #0277BD;
  }
}
