<mat-toolbar class="booth-toolbar" color="primary">
  <span>Filter</span>
</mat-toolbar>

<div id="photo-filter-container">
  <img [src]="image">
</div>


<div id="filter-list">
  <div *ngFor="let img of filterImages; let i = index">
    <mat-card class="filter-card" id="filter-card-{{ i }}"
              (click)="onFilterCardClick(i)">
      <img mat-card-image class="filter-img" src="./assets/images/{{ img }}">
    </mat-card>
  </div>
</div>

<button mat-fab class="affirmative-bg" id="confirm-button"
        (click)="confirmFilter()">
  <mat-icon aria-label="Confirm selected filter">check</mat-icon>
</button>

<button mat-fab class="negative-bg" id="start-over-button" (click)="startOver()">
  <mat-icon aria-label="Take new photo">replay</mat-icon>
</button>
