<mat-toolbar class="booth-toolbar" color="primary">
  <span>Filter</span>
</mat-toolbar>

<div id="photo-filter-container">
  <img [src]="image">
</div>


<div id="filter-list">
  <div>
    <mat-card class="filter-card" (click)="onFilterCardClick(0)"><img mat-card-image class="filter-img" src="./assets/images/la_muse.JPG"></mat-card>
  </div>
  <div>
    <mat-card class="filter-card" (click)="onFilterCardClick(1)"><img mat-card-image class="filter-img" src="./assets/images/rain_princess.jpg"></mat-card>
  </div>
  <div>
    <mat-card class="filter-card" (click)="onFilterCardClick(2)"><img mat-card-image class="filter-img" src="./assets/images/udnie.jpg"></mat-card>
  </div>
  <div>
    <mat-card class="filter-card" (click)="onFilterCardClick(3)"><img mat-card-image class="filter-img" src="./assets/images/wave.jpg"></mat-card>
  </div>

</div>

<button mat-fab class="affirmative-bg" id="confirm-button"
        (click)="confirmFilter()">
  <mat-icon aria-label="Confirm selected filter">check</mat-icon>
</button>

<button mat-fab class="negative-bg" id="start-over-button" (click)="startOver()">
  <mat-icon aria-label="Take new photo">replay</mat-icon>
</button>
