
body{
  background-color: #000 !important;
}

.booth-toolbar{
  background-color: #9b1719;
  //background-color: #8c8c8c;
}

.photo-display{
  margin: auto;
  padding-top: 5em;
}

.div-button{
  margin: auto;
}

.photo-button{
  background-color: #8c8c8c;
  color: #FFFF;
  margin: auto;
  font-family: "Oswald";
}
